  *{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container{
  display: grid;
  width: 100%;
  height:100%;
  border-radius: 3px;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(10, 10vh);
}

.background{
  animation: backgroundchange .09s ease-in-out infinite;

  grid-column: 13/25;
  grid-row: 1/11;
}

@keyframes backgroundchange {
  100%{
    background-color: #000000;
  }
  75%{
    background-color: blue;
  }
  50%{
    background-color: green;
  }
  25%{
    background-color: orangered;
  }
  0%{
    background-color: palevioletred;
  }
}

.first-page{
  display: grid;
  align-items: center;
  grid-column: 4/12;
  grid-row: 1/11;
  width: 100%;
}

#logo{
  width: 10%;
}

.foto{
  width: 40%;
  cursor: pointer;
}

#Iphone{
  display: grid;
  align-items: center;
  grid-column: 16/22;
  grid-row: 1/11;
}
#Iphone img{
  width: 100%;
}
 
.navbar{
  grid-column: 3/11;
  grid-row: 1/2;
  background-color: lightgreen;
  border-radius: 50%;
}

.fa-solid{
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
}

.fa-house{
  display: grid;
  align-self: center;
  justify-self: center;
  grid-column: 3/5;
  grid-row: 1/2;
}

.fa-magnifying-glass{
  display: grid;
  align-self: center;
  justify-self: center;
  grid-column: 5/7;
  grid-row: 1/2;
}

.fa-user{
  display: grid;
  align-self: center;
  justify-self: center;
  grid-column: 7/9;
  grid-row: 1/2;
}

.fa-check{
  display: grid;
  align-self: center;
  justify-self: center;
  grid-column: 9/11;
  grid-row: 1/2;
}
 
.audio{
  grid-column: 3/9;
  grid-row: 8/9;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px){
  .first-page h1{
    font-size: 22px;
  }
  .first-page p{
    font-size: 13px;
  }
  .fa-solid{
    font-size: 27px;
  }
}

@media (max-width: 800px){
  .first-page h1{
    font-size: 20px;
  }
  .first-page p{
      font-size: 12px;
  }
  .fa-solid{
    font-size: 24px;
  }
}

@media (max-width: 600px){
  .fa-solid{
    font-size: 21px;
  }
}
 
.foto{
  margin-top: 1.3rem;
}

/*foto */

.foto:hover {
  visibility: hidden;
}

/*cookies*/

.container-cookies {
  position: absolute;
  left: 550px;
  bottom: 20px;
  max-width: 365px;
  background: #fff;
  padding: 25px 25px 30px 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 
.content .buttons.btn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.btn-btn{
  font-weight: 500;
  border-radius: 5px;
  background:#d61847;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 16px;
}

.btn-btn:hover {
  animation: moving .5s ease-in-out 1;
}
@keyframes moving {
  100%{
    margin:0;
    background-color: #000000;
  }
  50%{
    margin-left: 150px;
background-color: crimson;
  }
  0%{
    margin-right: 300px;
    background-color: white;
  }
}
.buttons .btn-btn {
  margin: 0 10px;
}
 
.content h3{
  font-size: 25px;
  font-weight: 600;
}

.btn-btn{
  display: flex;
  justify-content: center;
  transform: translateX(50%);
}

.cookies-link{
  color: #d61847;
}

.content {
  margin-top: 10px;
}

.content p {
  color: #858585;
  margin: 5px 0 20px 0;
}

/*end of cookies*/

.button{
  font-size: 40px;
  grid-column: 4/10;
  grid-row: 9/10;
}